name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Rust Action
      uses: icepuma/rust-action@1.47.0
      with:
          args: cargo fmt -- --check && cargo clippy -- -Dwarnings && cargo test
